<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/admin.css">
  <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap-theme.css">
  <!-- Import du css de LobiBox -->
	<link rel="stylesheet" href="/static/plugins/lobibox-master/dist/css/lobibox.min.css">


  <title>Administration</title>
</head>


<body>
  <h1>Administration</h1>

  <div class="row">

    <div class="col-sm-6">
      <h2>Liste des questions</h2>
      <!-- Tableau d'affichage des questions de la base de données -->
      <table class="table table-striped">
        <thead> <!-- En-tête -->
          <tr class="text-center">
            <th>ID</th>
            <th>Intitulé</th>
            <th>Réponse 1</th>
            <th>Réponse 2</th>
            <th>Suppression</th>
            <th>Modification</th>
          </tr>
        </thead>

        <tbody id="table-body-questions"> <!-- Corps du tableau (les questions) -->

        </tbody>
      </table>
    </div> <!-- Fin colonne -->

    <!-- La deuxième colonne affichera un formulaire pour ajouter une nouvelle question, ou en modifier une existante
          Au début, c'est un formulaire vierge pour ajouter une nouvelle question qu'on affiche -->
    <div id="form-question" class="form col-sm-6">
      <!-- Icone 'croix" pour fermer un formulaire d'édition d'édition d'une question existante -->
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      <h2 class="inline">Ajouter une nouvelle question</h2>

      <label for="intitule">Intitulé de votre question</label></br>
      <input id="intitule" class="form-control" type="text" required/></br></br>

      <label for="reponse1">Réponse 1</label></br>
      <input id="reponse1" class="form-control" type="text" required />
      <input type="radio" name="radioGroup" id="radioButton1" checked="checked" /></br></br>

      <label for="reponse2">Réponse 2</label></br>
      <input id="reponse2" class="form-control" type="text" required />
      <input type="radio" name="radioGroup" id="radioButton2" /></br></br>

      <!-- Bouton pour créer une nouvelle question -->
      <input id="button-add" type="button" class="btn btn-primary" value="Envoyer la question" onclick="submitQuestion()"/>
      <!-- Bouton pour modifier une question -->
      <input id="button-modifier" type="button" class="btn btn-success" value="Modifier la question" onclick=""/>
    </div> <!-- Fin colonne -->
  </div> <!-- Fin row -->

</body>


<!-- Import de JQuery -->
<script src="{{url_for('static', filename='js/jquery.min.js')}}">
</script>
<!-- Import librairie LobiBox -->
<script src="{{url_for('static', filename='plugins/lobibox-master/dist/js/lobibox.min.js')}}">
</script>

<!-- Import du modèle de Question -->
<script src="{{url_for('static', filename='js/question.js')}}">
</script>
<script src="{{url_for('static', filename='js/admin.js')}}">
</script>
