<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap-theme.css">
  <!-- Import du css de LobiBox -->
	<link rel="stylesheet" href="/static/plugins/lobibox-master/dist/css/lobibox.min.css">
3


  <title>Administration</title>
</head>

<body>
  <h1>Administration</h1>

  <div id="ajoutQuestionBlock">
    <h2>Ajouter une nouvelle question</h2>
    <label for="intitule">Intitulé de votre question</label></br>
    <input id="intitule" type="text" required/></br></br>

    <label for="reponse1">Réponse 1</label></br>
    <input id="reponse1" type="text" required />
    <input type="radio" name="radioGroup" id="radioButton1" checked="checked" /></br></br>

    <label for="reponse2">Réponse 2</label></br>
    <input id="reponse2" type="text" required />
    <input type="radio" name="radioGroup" id="radioButton2" /></br></br>


    <input type="button" value="Envoyer la question" onclick="submitQuestion()"/>
  </div>

  <h2>Liste des questions</h2>
  <!-- Tableau d'affichage des questions de la base de données -->
  <table class="table table-striped">
    <thead> <!-- En-tête -->
      <tr class="text-center">
        <th>ID</th>
        <th>Intitulé</th>
        <th>Réponse 1</th>
        <th>Réponse 2</th>
        <th>Suppression</th>
      </tr>
    </thead>

    <tbody id="table-body-questions"> <!-- Corps du tableau (les questions) -->

    </tbody>

  </table>

</body>


<!-- Import de JQuery -->
<script src="{{url_for('static', filename='js/jquery.min.js')}}">
</script>
<!-- Import librairie LobiBox -->
<script src="{{url_for('static', filename='plugins/lobibox-master/dist/js/lobibox.min.js')}}">
</script>

<!-- Import du modèle de Question -->
<script src="{{url_for('static', filename='js/admin.js')}}">
</script>
<script src="{{url_for('static', filename='js/question.js')}}">
</script>
