<!DOCTYPE HTML>

<html>

<head>
  <meta charset="utf-8">
  <title>Accueil | QuizzUp</title>
  <link rel="stylesheet" href="/static/css/client.css">
  <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap-theme.css">
</head>

<body>
  <h1>Bienvenue sur Quizzup !</h1>

  <!-- Block affichage question courante -->
  <div class="center-block">
    <h2 id="intitule-question" class="bg-primary text-center"></h2>

    <!-- Le bouton pour la réponse 1 -->
    <button id="rep1" type="button" class="btn btn-primary btn-lg btn-block"></button>

    <!-- Le bouton pour la réponse 2 -->
    <button id="rep2" type="button" class="btn btn-primary btn-lg btn-block"></button>

    <div class="msg-reponse" role="alert"></div>
  </div>

  <!-- Timer indiquant le temps restant pour répondre -->
  <div id="countdown" class="center-block">
  </div>

</body>

</html>


<!-- Import de JQuery -->
<script src="{{url_for('static', filename='js/jquery.min.js')}}">
</script>
<!-- Import du plugin timer JQuery -->
<script src="{{url_for('static', filename='plugins/countdown/src/jquery.countdown360.js')}}" type="text/javascript" charset="utf-8">
</script>

<script src="{{url_for('static', filename='js/client.js')}}">
</script>
<!-- Import du modèle de Question -->
<script src="{{url_for('static', filename='js/question.js')}}">
</script>
